<div class="contact">
  <div class="contact__info">
    <p class="contact__info__name" data-testid="contactName">{{ firstName + ' ' + lastName }}</p>
    @if (phoneNumber) {
      <p class="contact__info__phone" data-testid="contactPhone">{{ phoneNumber }}</p>
    }
  </div>
  
  <button 
    data-testid="contactDeleteButton" 
    class="contact__delete-button" 
    (click)="deleteContact()"
  >
    <svg class="contact__delete-button__icon">
      <use href="../../../assets/icons/sprite.svg#icon-bin"></use>
    </svg>
  </button>
</div>