<div class="container header__container">
  <div class="header__logo">
    <svg class="header__logo__icon">
      <use href="../../../assets/icons/sprite.svg#icon-address-book"></use>
    </svg>
    <h1 class="header__logo__title">Address Book</h1>
  </div>
  
  <div class="search">
    <label class="search__label">
      <svg class="search__label__icon">
        <use href="../../../assets/icons/sprite.svg#icon-search"></use>
      </svg>
      <input data-testid="searchInput" class="search__input" type="text" (keyup)="onInputChange($event)">
    </label>
    <label class="search__sort-label">
      <p class="search__sort-text">Sort By:</p>
      <select data-testid="searchSelect" class="search__sort-select" name="sorting" (change)="onSortingChange($event)">
        @for (option of sortingOptions; track option) {
          <option data-testid="searchSelectOption" [value]="option">{{ option }}</option>
        }
      </select>
    </label>
  </div>
</div>