<div class="container">
  
  @if ((contacts$ | async)?.length) {
    <ul class="contact-list">
      @for (contact of (contacts$ | async); track contact.id) {
        <li class="contact-list__item">
          <app-contact
            [contactId]="contact.id"
            [firstName]="contact.first_name" 
            [lastName]="contact.last_name" 
            [phoneNumber]="contact.phone_number"
            (delete)="openDeleteConfirmation($event)"
          ></app-contact>
        </li>
      }
      
    </ul>
  } @else {
    <h2 class="no-contacts-message">No contacts added</h2>
  }
  
  <button class="add-contact-button" (click)="openAddForm()">Add contact</button>
</div>

<div class="modal-backdrop" [ngClass]="{ open: deleteId }" (click)="closeDeleteConfirmation($event)">
  <div class="modal">
    <h3 class="modal__heading">Delete Confirmation</h3>
    <p class="modal__message">Do you want to delete this contact?</p>
    <ul class="modal__actions">
      <li class="modal__actions__item">
        <button class="modal__actions__item__button" (click)="closeDeleteConfirmation()">Cancel</button>
      </li>
      <li class="modal__actions__item">
        <button class="modal__actions__item__button delete" (click)="deleteContact()">Delete</button>
      </li>
    </ul>
  </div>
</div>