:root {
  --font: Verdana, Geneva, Tahoma, sans-serif;
  --primary-text-color: rgba(0, 0, 0, 1);
  --light-text-color: rgba(255, 255, 255, 1);
  --success-color: rgba(27, 189, 60, 1);
  --error-color: rgba(255, 0, 27, 1);
  --secondary-text-color: rgba(140, 140, 140, 1);
  --border-color: rgba(140, 140, 140, 0.6);
  --primary-bg: rgba(255, 255, 255, 1);
  --dark-bg: rgba(0, 0, 0, 1);
  --modal-backdrop-bg: rgba(0, 0, 0, 0.8);

  --transition: ease-in 200ms;
}

$desktop-break-point: 1024px;